html, body 
{
  /*overflow: hidden; /* Hide scrollbars */
  font-family: 'Aldrich', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font:  2em  'Aldrich', sans-serif;
}

#contentDiv 
{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#18bc9c; 
}

.answer {
  font-family: 'Aldrich', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: grey;
  border-radius: 12px;
  border-style: none;
  margin: 0.5em;
  padding: 0.5em;
  width: 80%;
  height: 10%;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.request {
  font-family: 'Aldrich', sans-serif;
  font-size: 2em;
  font-weight: 500;
  background-color: white;
  border-radius: 12px;
  border-style: none;
  margin: 0.5em;
  padding: 0.5em;
  width: 50%;
  height: 10%;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Button that displays buttons with 3 columns and goes back to the bottom line if there is more that 3 element on 1 line*/
.button-container {
  padding: 0 10em 0 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.top-left-corner {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 62px;
    height: 48px;
}

img 
{
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  width: 100%;
  height: 100%;
  /*object-fit: contain;*/
}

p
{
  margin: 1px;
  padding: 1px;
  transform-origin: center;
  text-align: center;
  word-wrap: normal;
  position: relative;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
}

/* 
Text mode
*/
.text-bubble 
{ 
  padding: 1em;
  font-size: 5em; 
  background: white; 
  border-radius: .4em; 
  height: 58%; width: 75%;
  /*height: 1019px; width: 1707px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* For speech bubble triangle - not compatible with shadow
.text-bubble 
{ 
  padding: 1em;
  margin: 0.5em;
  position: absolute; 
  font-size: 4em; 
  background: white; 
  border-radius: .4em; 
  height: 50%; width: 75%;
  top: 2.5em; left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  -khtml-user-select: none;
  user-select: none;
}
.text-bubble:after
{
  content: '';
  position: absolute; 
  top: 1px; left: 50%;
  width: 0; height: 0;
  border: 2.6em solid transparent;
  border-bottom-color: white;
  border-top: 0; border-left: 0;
  margin-left: -1.297em; margin-top: -2.594em;
}
*/


/*
Speech mode
*/
.say-bubble {
  padding: 1em;
  margin: 1em;
  margin-bottom: .25em;
  position: relative;
  font-size: 4em; 
  background: white; 
  border-radius: .4em; 
  height: 50%; width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hear-bubble {
  position: relative;
  padding: 1em;
  margin: 1em;
  margin-top: .25em;
  font-size: 4em; 
  background: lightblue; 
  border-radius: .4em; 
  height: 50%; width: 80%;
  display: flex;    
  justify-content: center;
  align-items: center;
  flex: 2;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#speaker-icon {
  position: absolute;
  margin: 15px;
  height: 1em;
  top: 0;
  left: -47%;
}
#mic-icon {
  position: absolute;
  margin: 15px;
  height: 1em;
  top: 3px;
  left: -47%;
}
.speech-text {
  font-family: 'Aldrich', sans-serif;
}


/*
Question mode
*/
#question-prompt
{
  text-align: center;
  max-height: fit-content;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-size: 9em;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  color: white;
  font-weight: 700;
}
#options-box
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.option-btn {
  font-family: 'Aldrich', sans-serif;
  font-weight: 500;
  background-color: white;
  border-radius: 12px;
  border-style: none;
  font-size: 22px;
  height: 150px;
  width: 30%;
  /* margin: 5px; */
  margin: 0.5em 0.5em 0.5em 0.5em;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  touch-action: manipulation;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.option-btn:active {
  background-color: lightgreen;
  transition: all 100ms;
}
.option-btn:focus {
  background-color: lightgreen;
}
.option-btn:focus:after {
  background-color: lightgreen;
}


/*
Loading mode
*/
.loading-text
{
  text-align: center;
  max-height: fit-content;
  color: white;
  margin: 6%;
  font-size: 4em;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
}

/*
Input mode
*/
input {
  font-family: 'Aldrich', sans-serif;
  font-weight: 500;
  background-color: white;
  border-radius: 12px;
  border-style: none;
  font-size: 40px;
  width: 70%;
  margin: 0;
  outline: none;
  padding: 30px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  touch-action: manipulation;
  -khtml-user-select: none; /* Konqueror HTML */
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/* For loading spinner. Every size has been multiplied by 4. */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 320px;
  height: 302px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 160px 160px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  margin: -16px 0 0 -16px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 252px;
  left: 252px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 272px;
  left: 224px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 284px;
  left: 192px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 288px;
  left: 160px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 284px;
  left: 128px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 272px;
  left: 96px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 252px;
  left: 68px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 224px;
  left: 48px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
