@font-face {
    font-family: Robocup-title;
    src: url(./fonts/PPNeueMachina/PPNeueMachina-InktrapUltrabold.ttf), sans-serif;
}

@font-face {
    font-family: Robocup-content;
    src: url(./fonts/PPNeueMachina/PPNeueMachina-InktrapRegular.ttf), sans-serif;
}

html, body, .content-container{
    height: 95%;
    background-color: rgb(254, 252, 232);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Robocup-content;
    background-color: rgb(254, 252, 232);
}

.centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: inherit;
}

svg {
    background-color: inherit;
}

.font-bold {
    font-family: Robocup-title;
}

.header{
    border-bottom: 0.3em solid black;
    height: max-content;
}

.header-yellow {
    background-color: rgb(255, 255, 0);
}

.header-violet {
    background-color: rgb(240, 171, 252);
}

.header-blue {
    background-color: rgb(165, 180, 252);
}

.header-left {
    border-right: 0.3em solid black;
}

.animed_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid black;
    padding: 0;
}

.instruction_buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container div {
    align-self: center;
}

.col-sm-4 {
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: auto;
    align-self: center;
}

.btn {
    border-radius: 0.7em;
    border: 0.1em solid black;
    padding: 0;
}

.button-row {
    width: 50%;
    margin: 1em;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 0;
}

.btn-lg {
    font-size: 2em;
    line-height: 2em;
}

.button-red {
    background-color: rgb(220, 38, 38);
}
.button-green {
    background-color: rgb(148, 255, 185);
}
.button-blue {
    background-color: rgb(103, 232, 249);
}
.button-yellow {
    background-color: rgb(250, 204, 21);
}
.button-violet {
    background-color: rgb(168, 85, 247);
}

.button-left {
    margin-right: 30%;
}

.button-right {
    margin-left: 30%;
}

.switch-buttons {
    width: 3em;
    height: 2em;
}

.operator_text {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    list-style-type: circle;
}

.robot_text {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    list-style-type: disc;
}

.to-be-cleared {
    display: block;
}

#convo, #current-task {
    height: 40%;
}